/*root colors*/

:root{
    --mainPurple: #605BFF;
    --navGray: #717680;
    --borderColor: #D5D7DA;
}

@font-face {
  font-family: 'TajawalMedium';
  src: url('../../font/Tajawal-Medium.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TajawalExtraLight';
  src: url('../../font/Tajawal-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'TajawalLight';
  src: url('../../font/Tajawal-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'TajawalRegular';
  src: url('../../font/Tajawal-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TajawalBold';
  src: url('../../font/Tajawal-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'TajawalExtraBold';
  src: url('../../font/Tajawal-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'TajawalBlack';
  src: url('../../font/Tajawal-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

body{
    background-color: white;
}

.flex{
    display: flex;
    flex-direction: column;
}

footer{
    transform: translateY(0px);
}


.sideBar a{
    display: block;
}

.sideBar{
    width: 379px;
    height: 444px;
    box-sizing: border-box;
    padding: 32px 8px 8px;
    gap: 8px;
}

.sideBar a{
    width: 363px;
    height: 68px;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 18px 16px;
    gap: 8px;
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

.sideBar a:hover{
    background-color: #615bffb3;
    color: white !important;
}

.selected{
    background-color: var(--mainPurple);
    color: white !important;
}

.sideBar .logOut{
    color: #D92D20;
}

.operationSummeryContent{
    width: 1240px;
    height: 435px;
    display: flex;
    gap: 48px;
    margin: 50px auto;
}

.saledStocks,
.profits{
    width: 399px;
    height: 143px;
    border-radius: 8px;
    border: 1px solid var(--borderColor);
    box-sizing: border-box;
    padding: 24px;
    gap: 24px;
    position: relative;
    left: 40px;
    top: 30px;
}

.cardHeader{
    width: 351px;
    height: 11px;
    font-family: 'TajawalBold';
    font-size: 18px;
    color: #414651;
    position: relative;
    top: -15px;
}

.cardNumbers{
    display: flex;
    justify-content: space-between;
}

.cardNumbers .durationAndAmount{
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: space-between;
}

.durationAndAmount .rising{
    width: 54px;
    height: 20px;
    gap: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: -50px;
    border: 1px solid red;
    color: #12B76A;
}
