/*root colors*/

:root{
    --mainPurple: #605BFF;
    --navGray: #717680;
    --borderColor: #D5D7DA;
}

@font-face {
  font-family: 'TajawalMedium';
  src: url('../../font/Tajawal-Medium.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TajawalExtraLight';
  src: url('../../font/Tajawal-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'TajawalLight';
  src: url('../../font/Tajawal-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'TajawalRegular';
  src: url('../../font/Tajawal-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TajawalBold';
  src: url('../../font/Tajawal-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'TajawalExtraBold';
  src: url('../../font/Tajawal-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'TajawalBlack';
  src: url('../../font/Tajawal-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

body{
    background-color: white;
}

.flex{
    display: flex;
    flex-direction: column;
}

footer{
    transform: translateY(0);
}

.personelInfoContent{
    width: 100%;
    height: 540px;
    box-sizing: 100px 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.personelInfoContent .sideBar a{
    display: block;
}

.sideBar{
    width: 379px;
    height: 444px;
    box-sizing: border-box;
    padding: 32px 8px 8px;
    gap: 8px;
}

.sideBar a{
    width: 363px;
    height: 68px;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 18px 16px;
    gap: 8px;
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

.sideBar a:hover{
    background-color: #615bffb3;
    color: white !important;
}

.selected{
    background-color: var(--mainPurple) !important;
    color: white !important;
}

.sideBar .logOut{
    color: #D92D20;
}

form{
    width: 829px;
    height: 444px;
    gap: 32px;
}

form .nameInfo{
    width: 100%;
    height: 71px;
    gap: 16px;
}

.lastName{
    display: none;
}

.nameInfo .inputs{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inputs input{
    width: 398.5px;
    height: 44px;
}

.inputs input::placeholder{
    text-align: right;
}

form input{
    width: 100%;
    height: 44px;
    border: 1px solid var(--borderColor);
    border-radius: 8px;
    box-sizing: border-box;
    padding: 10px 14px;
    gap: 8px;
    margin-top: 10px;
    display: block;
    box-shadow: 0 1px 2px 0 #0A0D120D;
}

input::placeholder{
    color: #181E3C;
    font-family: 'TajawalRegular';
    font-size: 16px;
    text-align: left;
}

form .email,
.ID,
.phoneNum{
    display: block;
    width: 100%;
    margin-top: 10px;
}

